body
{
	margin-top: 40px;
	background-color:lightgreen;
}

#content
{
	position:relative;
}

button
{
	background-color:limegreen;
	padding:5px 7px;
	margin:5px;
	border:1px solid green;
	border-radius:10px;
}

	button:hover
	{
		background-color:lightseagreen;
	}
ul
{
	list-style-type:none;
}

#online-users-holder
{
	position:absolute;
	left:520px;
	
}

.online-user
{

}

#messages-wrapper #user-messages .message h2
{
	font-size:1.2em;
}

.unread
{
	color:red;
}
