body
{
	padding: 0px;
	background-color: gray;
	font-family: Georgia;
}

ul
{
	list-style-type: none;
}
li
{
	margin:3px;
	padding:0;
}

	li h2
	{
		margin:0;
		padding:0;
	}

#chat-title
{
	height: 5%;
	border: 2px solid #6DC56D;;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	margin-bottom: 10px;
	font-size: x-large;
	font-weight: bolder;
}

#content
{
	background-color: lightgreen;
	width: 960px;
	margin: 0 auto;
	height: 600px;
	border: 2px solid darkblue;
	padding: 5px;
	position: relative;
}

#online-users-holder
{
	display: inline-block;
	float: left;
	margin-left: 25px;
	height: 62%;
	width: 28%;
	border: 2px solid #6DC56D;;
}

	#online-users-holder li
	{
		font-size: 1.3em;
		vertical-align: middle;
	}

#messages-wrapper
{
	display: inline-block;
	float: left;
	height: 92%;
	width: 47%;
	margin-left: 12px;
}

#user-messages
{
	height: 86%;
	border: 2px solid #6DC56D;
	margin-bottom: 13px;
	overflow: auto;
}

	#user-messages li
	{
		font-size: 0.5em;
	}

#form-send-message
{
	height: 8%;
	padding: 7px 0;
	width: 100%;
	border: 2px solid #6DC56D;
	text-align: center;
}

	#form-send-message input
	{
		height: 90%;
		width: 90%;
	}

#profile-info-holder
{
	text-align:center;
	display: inline-block;
	float: left;
	height: 92%;
	width: 20%;
	border: 2px solid #6DC56D;
}

	#profile-info-holder img
	{
		width: 150px;
		height: 200px;
		margin: 7px;
	}

#messages-wrapper #sendFileForm
{
	font-size: x-large;
	margin-top: 14px;
	position: absolute;
	right: 80px;
	width: 15%;
	bottom: 20px;
}

#UploadFile, #chooseFile
{
	font-size: x-large;
	margin-top: 12px;
	height: 60px;
	width: 100%;
}

#online-users-holder h1, #profile-info-holder h2
{
	font-size: x-large;
	text-align: center;
}

#online-users-holder ul
{
	max-height: 300px;
	overflow: auto;
}

	#online-users-holder ul li
	{
		cursor: pointer;
	}


		#online-users-holder ul li img
		{
			margin-right: 10px;
			margin-bottom:5px;
			width: 40px;
			height: 50px;
			display: inline-block;
			vertical-align: middle;
		}

#input-msg-writer
{
	width: 95%;
}

#profile-picture
{
	width: 200px;
	height: 200px;
}

.red-message
{
	color:#FF8500;
}

.blue-message
{
	color:#058000;
}

#btn-logout
{
	position:absolute;
	font-size: x-large;
	margin-top: 12px;
	height: 60px;
	width: 19%;
	bottom:20px;
	left:10px;
}